In [1]:
# Daily Investment Psychology ...
# 일별 투자 심리도 계산하기
# 최근 10거래일 중  -> 최근 10개의 데이터 중 +인 개수의 비율

In [5]:
import datetime

# 기준일
basic_date = '2021-07-30' #가장 최근 날짜
basic_date = datetime.datetime.strptime(basic_date, '%Y-%m-%d')
a_month_ago = basic_date - datetime.timedelta(days=30) # 한달 전 날짜

basic_date = basic_date.strftime('%Y-%m-%d')
a_month_ago = a_month_ago.strftime('%Y-%m-%d')

In [6]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [7]:
df = marcap_data(a_month_ago, basic_date)

In [9]:
d = df

In [10]:
kospi = d[d['Market'] == 'KOSPI']

In [11]:
codes = kospi['Code'].unique()
len(codes)

917

In [25]:
# data = list()
# for code in codes:
#     c = d[d['Code'] == code]

# Test!
# c = d[d['Code'] == '005930']
# ip = len(c[c["Changes"] > 0]) / len(c["Changes"])
# data.append(['005930', c['Name'].iloc[-1], ip])
# data

[['005930', '삼성전자', 0.30434782608695654]]

In [27]:
data = list()
for code in codes:
    c = d[d['Code'] == code]
    ip = len(c[c["Changes"] > 0]) / len(c["Changes"])
    data.append([code, c['Name'].iloc[-1], ip])

In [28]:
columns = ['Code', 'Name', 'IP']

In [30]:
ip_df = pd.DataFrame(data, columns=columns)

In [32]:
ip_df.sort_values(['IP'], ascending=[True]).to_csv('Investment-Psychology.csv')

In [35]:
ip_df.sort_values(['IP'], ascending=[True]).head(20)

       Code       Name        IP
334  138250      엔에스쇼핑  0.086957
362  016580       환인제약  0.130435
489  005389     현대차3우B  0.130435
598  003547    대신증권2우B  0.130435
657  03473K        SK우  0.130435
737  357250   미래에셋맵스리츠  0.130435
566  123690      한국화장품  0.173913
118  005385       현대차우  0.173913
721  152550  한국ANKOR유전  0.173913
80   005387     현대차2우B  0.173913
599  000230      일동홀딩스  0.173913
538  004970       신라교역  0.217391
862  002025       코오롱우  0.217391
791  005257   녹십자홀딩스2우  0.217391
517  071970     STX중공업  0.217391
396  072710      농심홀딩스  0.217391
527  003120       일성신약  0.217391
856  001795      대한제당우  0.217391
855  001685        대상우  0.217391
847  36328K    티와이홀딩스우  0.217391