In [1]:
# 우량주 분석
import datetime
today=  datetime.datetime.now()

first = '1995-05-02'
m6_ago = today - datetime.timedelta(days=183)
y1_ago = today - datetime.timedelta(days=365)
y2_ago = today - datetime.timedelta(days=2*365)
y3_ago  = today  - datetime.timedelta(days=3*365)
y4_ago  = today  - datetime.timedelta(days=4*365)
y5_ago = today - datetime.timedelta(days=5*365)
y6_ago = today - datetime.timedelta(days=6*365)

y8_ago = today - datetime.timedelta(days=8*365)
y10_ago = today - datetime.timedelta(days=10*365)

today = today.strftime('%Y-%m-%d')

m6_ago = m6_ago.strftime('%Y-%m-%d')
y1_ago = y1_ago.strftime('%Y-%m-%d')
y2_ago = y2_ago.strftime('%Y-%m-%d')
y3_ago = y3_ago.strftime('%Y-%m-%d')
y4_ago = y4_ago.strftime('%Y-%m-%d')
y5_ago = y5_ago.strftime('%Y-%m-%d')
y6_ago = y6_ago.strftime('%Y-%m-%d')

y8_ago = y8_ago.strftime('%Y-%m-%d')
y10_ago = y10_ago.strftime('%Y-%m-%d')
y1_ago

'2020-03-15'

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [3]:
# 그래프 설정
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
years_fmt = mdates.DateFormatter('%Y')

plt.rcParams["figure.figsize"] = (16,4)
plt.rcParams['lines.linewidth'] = 0.5
plt.rcParams["axes.grid"] = True
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["xtick.minor.visible"] = True 

pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = marcap_data(first, today)

c:\users\j\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\j\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
df['Dept'].unique()
df.reset_index(inplace=True)

In [6]:
df1 = df[df['Date']>y1_ago]
df2 = df[df['Date']>y2_ago]
df3 = df[df['Date']>y3_ago]
df4 = df[df['Date']>y4_ago]

df5 = df[df['Date']>y5_ago]
df6 = df[df['Date']>y6_ago]

df8 = df[df['Date']>y8_ago]
df10 = df[df['Date']>y10_ago]

df1_10 = df[df['Date']>y10_ago]
df1_10 = df1_10[df1_10['Date']<y1_ago]
df1_5 = df[df['Date']>y5_ago]
df1_5 = df1_5[df1_5['Date']<y1_ago]

In [7]:
dm6 = df[df['Date']>m6_ago]

In [8]:
d = df6

,Date,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,ChangesRatio
7923373,2015-03-18,005930,삼성전자,KOSPI,NaN,1503000.00,1,6000.00,0.40,1496000.00,1506000.00,1486000.00,249287.00,374326392000.00,221390903511000.00,147299337.00,STK,1,NaN
7923374,2015-03-18,005380,현대차,KOSPI,NaN,182000.00,3,0.00,0.00,183000.00,186000.00,182000.00,868610.00,159668221000.00,40090319178000.00,220276479.00,STK,2,NaN
7923375,2015-03-18,000660,SK하이닉스,KOSPI,NaN,46250.00,3,0.00,0.00,46250.00,46400.00,45600.00,2790286.00,128844088950.00,33670109381250.00,728002365.00,STK,3,NaN
7923376,2015-03-18,015760,한국전력,KOSPI,NaN,44750.00,1,250.00,0.56,44650.00,45500.00,44000.00,1056660.00,47457119550.00,28727892445750.00,641964077.00,STK,4,NaN
7923377,2015-03-18,005935,삼성전자우,KOSPI,NaN,1128000.00,1,5000.00,0.45,1117000.00,1134000.00,1117000.00,29359.00,33061175000.00,25756105656000.00,22833427.00,STK,5,NaN
7923378,2015-03-18,012330,현대모비스,KOSPI,NaN,260000.00,1,1500.00,0.58,261000.00,262000.00,257500.00,175711.00,45694548000.00,25309404380000.00,97343863.00,STK,6,NaN
7923379,2015-03-18,017670,SK텔레콤,KOSPI,NaN,281500.00,1,2000.00,0.72,282500.00,285000.00,280000.00,111038.00,31440439500.00,22729917646500.00,80745711.00,STK,7,NaN
7923380,2015-03-18,005490,POSCO,KOSPI,NaN,258000.00,1,1500.00,0.58,257500.00,259000.00,256000.00,228035.00,58702919500.00,22494203430000.00,87186835.00,STK,8,NaN
7923381,2015-03-18,035420,NAVER,KOSPI,NaN,654000.00,2,-6000.00,-0.91,658000.00,666000.00,650000.00,110917.00,73112097000.00,21557592066000.00,32962679.00,STK,9,NaN
7923382,2015-03-18,018260,삼성에스디에스,KOSPI,NaN,277500.00,2,-1500.00,-0.54,277000.00,280000.00,272000.00,255936.00,70416373000.00,21472339500000.00,77377800.00,STK,10,NaN
7923383,2015-03-18,028260,제일모직,KOSPI,NaN,152000.00,2,-10000.00,-6.17,157000.00,159500.00,150000.00,3006255.00,463396776500.00,20520000000000.00,135000000.00,STK,11,NaN
7923384,2015-03-18,055550,신한지주,KOSPI,NaN,42650.00,1,150.00,0.35,42750.00,43200.00,42500.00,1585949.00,67798179796.00,20224612385550.00,474199587.00,STK,12,NaN
7923385,2015-03-18,032830,삼성생명,KOSPI,NaN,97800.00,1,500.00,0.51,98100.00,98700.00,97400.00,398488.00,39163428500.00,19560000000000.00,200000000.00,STK,13,NaN
7923386,2015-03-18,000270,기아차,KOSPI,NaN,47550.00,1,200.00,0.42,47500.00,48150.00,47350.00,1549610.00,74115123150.00,19275027149850.00,405363347.00,STK,14,NaN
7923387,2015-03-18,090430,아모레퍼시픽,KOSPI,NaN,3084000.00,2,-39000.00,-1.25,3070000.00,3153000.00,3047000.00,15370.00,47570924000.00,18028598316000.00,5845849.00,STK,15,NaN
7923388,2015-03-18,051910,LG화학,KOSPI,NaN,227000.00,2,-1000.00,-0.44,228000.00,228500.00,223000.00,185876.00,42003084500.00,15043539700000.00,66271100.00,STK,16,NaN
7923389,2015-03-18,105560,KB금융,KOSPI,NaN,38850.00,1,50.00,0.13,39000.00,39000.00,38500.00,731568.00,28359592200.00,15009763273050.00,386351693.00,STK,17,NaN
7923390,2015-03-18,000810,삼성화재,KOSPI,NaN,264000.00,1,6500.00,2.52,259000.00,267500.00,256000.00,203842.00,53917140500.00,12506956968000.00,47374837.00,STK,18,NaN
7923391,2015-03-18,034220,LG디스플레이,KOSPI,NaN,32800.00,1,300.00,0.92,32700.00,33200.00,32350.00,1868983.00,61329908700.00,11736354960000.00,357815700.00,STK,19,NaN
7923392,2015-03-18,051900,LG생활건강,KOSPI,NaN,737000.00,2,-21000.00,-2.77,762000.00,764000.00,734000.00,53602.00,39949788000.00,11510611189000.00,15618197.00,STK,20,NaN
7923393,2015-03-18,033780,KT&G,KOSPI,NaN,82600.00,2,-300.00,-0.36,83700.00,83800.00,82000.00,258843.00,21476077300.00,11340360252200.00,137292497.00,STK,21,NaN
7923394,2015-03-18,034730,SK C&C,KOSPI,NaN,213500.00,2,-5500.00,-2.51,218000.00,219500.00,213500.00,110081.00,23919754500.00,10675000000000.00,50000000.00,STK,22,NaN
7923395,2015-03-18,003550,LG,KOSPI,NaN,61400.00,1,800.00,1.32,61100.00,61400.00,60200.00,344186.00,20944916000.00,10595007843400.00,172557131.00,STK,23,NaN
7923396,2015-03-18,002790,아모레G,KOSPI,NaN,1289000.00,1,22000.00,1.74,1267000.00,1320000.00,1260000.00,23657.00,30660981800.00,10285057322000.00,7979098.00,STK,24,NaN
7923397,2015-03-18,066570,LG전자,KOSPI,NaN,60100.00,2,-100.00,-0.17,60100.00,60800.00,59900.00,634019.00,38244539300.00,9835233621400.00,163647814.00,STK,25,NaN
7923398,2015-03-18,006400,삼성SDI,KOSPI,NaN,137500.00,3,0.00,0.00,138000.00,140000.00,136500.00,268913.00,37252144000.00,9455122875000.00,68764530.00,STK,26,NaN
7923399,2015-03-18,009540,현대중공업,KOSPI,NaN,120000.00,2,-3000.00,-2.44,123000.00,123500.00,120000.00,245534.00,29779704000.00,9120000000000.00,76000000.00,STK,27,NaN
7923400,2015-03-18,000830,삼성물산,KOSPI,NaN,57400.00,2,-700.00,-1.20,58300.00,58700.00,57200.00,674179.00,38921802900.00,8966899653600.00,156217764.00,STK,28,NaN
7923401,2015-03-18,086280,현대글로비스,KOSPI,NaN,235500.00,2,-5500.00,-2.28,240500.00,242500.00,235500.00,129547.00,30886398500.00,8831250000000.00,37500000.00,STK,29,NaN
7923402,2015-03-18,086790,하나금융지주,KOSPI,NaN,29450.00,1,150.00,0.51,29400.00,29650.00,29100.00,1036135.00,30501542650.00,8537380125900.00,289894062.00,STK,30,NaN

In [9]:
w = d[d['Market'] == 'KOSPI']
wuryang = w[w['Marcap'] > 10000000000000]

In [10]:
codes = wuryang['Code'].unique()

In [11]:
len(codes)

295

In [12]:
data = list()
import scipy.stats
# for code in codes:


for code in codes:
    c = d[d['Code'] == code]
    if c['Date'].iloc[-1] == pd.to_datetime(today):
        latest_stocks = c['Stocks'].iloc[-1]
        c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

        c_min = c['Adj Close'].min()
        c_max = c['Adj Close'].max()
        c_mean = c['Adj Close'].mean()
        c_std = c['Adj Close'].std()

        c_current = c['Adj Close'].iloc[-1]

        c_norm = scipy.stats.norm(c_mean, c_std)

        data.append([code, c['Name'].iloc[-1], c_min, c_max, c_mean, c_std, c_current, c_mean/c_current, c_norm.cdf(c_current)])

<ipython-input-12-3ff44c464998>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

In [14]:
columns = ['Code', 'Name', 'Min', 'Max', 'Mean', 'Std', 'Current', 'M/C' 'Cdf']
wdf = pd.DataFrame(data)
wdf['C/M'] = 1 / wdf[7]
wdf.sort_values([8], ascending=[True]).head(60)

,0,1,2,3,4,5,6,7,8,C/M
91,000210,DL,61000.00,273824.77,187022.48,27615.80,78300.00,2.39,0.00,0.42
262,326030,SK바이오팜,104000.00,217000.00,163921.51,21503.73,109000.00,1.50,0.01,0.66
36,021240,코웨이,48250.00,118091.42,88963.99,11627.03,66700.00,1.33,0.03,0.75
20,033780,KT&G,63600.00,137000.00,101453.70,12275.45,80200.00,1.27,0.04,0.79
81,000150,두산,26050.00,177326.56,112159.25,37445.25,49300.00,2.28,0.05,0.44
17,000810,삼성화재,126000.00,328000.00,258808.89,40666.20,193000.00,1.34,0.05,0.75
231,071320,지역난방공사,26000.00,87400.00,59931.30,13876.72,37650.00,1.59,0.05,0.63
74,012750,에스원,73200.00,115000.00,93294.64,7314.55,81600.00,1.14,0.05,0.87
67,005830,DB손해보험,23800.00,83800.00,60474.75,11079.18,44550.00,1.36,0.08,0.74
164,037560,LG헬로비전,2420.00,14500.00,8312.78,2729.51,4535.00,1.83,0.08,0.55
118,057050,현대홈쇼핑,45050.00,147500.00,105972.98,21660.41,77400.00,1.37,0.09,0.73
186,053210,스카이라이프,4760.00,23900.00,13477.61,3856.99,8420.00,1.60,0.09,0.62
44,002380,KCC,107000.00,674778.55,383521.89,134745.58,207000.00,1.85,0.10,0.54
167,093050,LF,8940.00,36900.00,23677.45,6309.02,15950.00,1.48,0.11,0.67
92,001450,현대해상,17700.00,49200.00,32446.44,7183.68,23750.00,1.37,0.11,0.73
162,002270,롯데푸드,211500.00,1438556.90,704103.95,269438.18,378000.00,1.86,0.11,0.54
139,006840,AK홀딩스,12000.00,98800.00,54839.04,21113.40,29650.00,1.85,0.12,0.54
144,009970,영원무역홀딩스,27400.00,106000.00,57708.38,14683.75,40300.00,1.43,0.12,0.70
58,078930,GS,30300.00,76700.00,51157.74,9169.15,40300.00,1.27,0.12,0.79
208,096760,JW홀딩스,2328.79,15198.91,7006.37,1790.56,4965.00,1.41,0.13,0.71
3,015760,한국전력,16250.00,63000.00,37216.90,12264.39,23250.00,1.60,0.13,0.62
61,036460,한국가스공사,16600.00,64500.00,42141.58,8981.01,32250.00,1.31,0.14,0.77
23,002790,아모레G,43550.00,201272.01,108998.32,41665.59,63200.00,1.72,0.14,0.58
279,950210,프레스티지바이오파마,29300.00,50000.00,37316.67,6521.93,30200.00,1.24,0.14,0.81
122,090435,아모레퍼시픽우,52400.00,261000.00,144321.74,59154.00,79800.00,1.81,0.14,0.55
166,170900,동아에스티,66200.00,171213.27,104229.33,19572.94,83000.00,1.26,0.14,0.80
96,005610,SPC삼립,40650.00,411500.00,156612.12,77215.13,73400.00,2.13,0.14,0.47
132,002350,넥센타이어,3890.00,15202.59,10797.91,2916.86,7660.00,1.41,0.14,0.71
34,023530,롯데쇼핑,58300.00,357335.50,203523.08,71607.98,126500.00,1.61,0.14,0.62
60,012630,HDC,6880.00,99180.21,37150.26,24284.21,11050.00,3.36,0.14,0.30
100,114090,GKL,10900.00,43000.00,23204.24,6069.11,16750.00,1.39,0.14,0.72
35,035250,강원랜드,16250.00,45250.00,32630.14,6382.55,25900.00,1.26,0.15,0.79
176,002020,코오롱,8920.00,86639.68,43288.30,20371.73,22250.00,1.95,0.15,0.51
93,000670,영풍,384000.00,1589000.00,888556.35,272394.46,608000.00,1.46,0.15,0.68
161,002240,고려제강,9913.04,54626.09,25673.39,8913.12,16550.00,1.55,0.15,0.64
48,001040,CJ,53100.00,323326.27,157748.08,61754.23,94700.00,1.67,0.15,0.60
143,033920,무학,3660.00,64777.89,20429.34,13483.77,6900.00,2.96,0.16,0.34
31,010130,고려아연,293500.00,560000.00,448371.01,44930.57,403500.00,1.11,0.16,0.90
131,049770,동원F&B,131500.00,560000.00,255723.01,67597.03,189000.00,1.35,0.16,0.74
272,009900,명신산업,16900.00,51800.00,35949.23,9042.73,27250.00,1.32,0.17,0.76
140,082640,동양생명,1565.00,11000.00,6443.50,2328.29,4230.00,1.52,0.17,0.66
106,005440,현대그린푸드,5020.00,28000.00,14979.78,4712.34,10600.00,1.41,0.18,0.71
145,003690,코리안리,5600.00,14950.00,10499.44,2093.55,8600.00,1.22,0.18,0.82
134,003300,한일홀딩스,5457.63,52762.08,21430.19,11787.62,10800.00,1.98,0.18,0.50
56,051600,한전KPS,24750.00,132000.00,52233.33,27018.66,28050.00,1.86,0.19,0.54
205,101530,해태제과식품,3500.00,39584.83,13352.53,5715.18,8390.00,1.59,0.19,0.63
90,027410,BGF,2720.00,72211.92,24725.83,21007.83,6540.00,3.78,0.19,0.26
65,138930,BNK금융지주,3650.00,11757.28,8278.75,1904.94,6630.00,1.25,0.19,0.80
229,009410,태영건설,8740.05,42423.61,18204.60,7277.56,12000.00,1.52,0.20,0.66
37,088350,한화생명,895.00,8550.00,5094.51,2226.16,3225.00,1.58,0.20,0.63
102,007310,오뚜기,426111.37,1334974.23,704111.20,148889.45,580000.00,1.21,0.20,0.82
214,267250,현대중공업지주,165457.65,503073.72,340545.19,70851.48,281500.00,1.21,0.20,0.83
255,330590,롯데리츠,4475.00,6690.00,5445.58,454.31,5070.00,1.07,0.20,0.93
125,071840,롯데하이마트,11250.00,84000.00,51372.51,16626.22,37800.00,1.36,0.21,0.74
77,004800,효성,26482.52,293325.65,150851.00,80132.18,85600.00,1.76,0.21,0.57
232,018250,애경산업,18800.00,77434.12,37299.54,14755.50,25300.00,1.47,0.21,0.68
41,001800,오리온홀딩스,6987.47,131057.44,43548.40,36478.84,14300.00,3.05,0.21,0.33
149,001430,세아베스틸,5360.00,45850.00,22739.10,8400.95,16050.00,1.42,0.21,0.71
194,034310,NICE,13200.00,29100.00,19216.53,2422.86,17300.00,1.11,0.21,0.90
98,005300,롯데칠성,72140.54,379495.62,179131.18,76935.18,121500.00,1.47,0.23,0.68

In [14]:
df[df['Code'] == '003380'].iloc[-1]['Close']

8910.0

In [15]:
df[df['Code'] == '054800'].iloc[-1]['Close']

12850.0

In [16]:
df[df['Code'] == '054950'].iloc[-1]

Date            2021-03-15 00:00:00
Code                         054950
Name                          제이브이엠
Market                       KOSDAQ
Dept                          우량기업부
Close                       36300.0
ChangeCode                        1
Changes                       150.0
ChagesRatio                     NaN
Open                        36500.0
High                        36550.0
Low                         36100.0
Volume                      48136.0
Amount                 1747864300.0
Marcap               229811960400.0
Stocks                    6330908.0
MarketId                        KSQ
Rank                            862
ChangesRatio                   0.41
Name: 11190491, dtype: object