In [1]:
# 우량주 분석
import datetime
today=  datetime.datetime.now()

first = '1995-05-02'
m6_ago = today - datetime.timedelta(days=183)
y1_ago = today - datetime.timedelta(days=365)
y2_ago = today - datetime.timedelta(days=2*365)
y3_ago  = today  - datetime.timedelta(days=3*365)
y4_ago  = today  - datetime.timedelta(days=4*365)
y5_ago = today - datetime.timedelta(days=5*365)
y6_ago = today - datetime.timedelta(days=6*365)

y8_ago = today - datetime.timedelta(days=8*365)
y10_ago = today - datetime.timedelta(days=10*365)

today = today.strftime('%Y-%m-%d')

m6_ago = m6_ago.strftime('%Y-%m-%d')
y1_ago = y1_ago.strftime('%Y-%m-%d')
y2_ago = y2_ago.strftime('%Y-%m-%d')
y3_ago = y3_ago.strftime('%Y-%m-%d')
y4_ago = y4_ago.strftime('%Y-%m-%d')
y5_ago = y5_ago.strftime('%Y-%m-%d')
y6_ago = y6_ago.strftime('%Y-%m-%d')

y8_ago = y8_ago.strftime('%Y-%m-%d')
y10_ago = y10_ago.strftime('%Y-%m-%d')
y1_ago

'2020-03-15'

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [3]:
# 그래프 설정
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
years_fmt = mdates.DateFormatter('%Y')

plt.rcParams["figure.figsize"] = (16,4)
plt.rcParams['lines.linewidth'] = 0.5
plt.rcParams["axes.grid"] = True
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["xtick.minor.visible"] = True 

pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = marcap_data(first, today)

c:\users\j\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\j\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
df['Dept'].unique()
df.reset_index(inplace=True)

In [6]:
df1 = df[df['Date']>y1_ago]
df2 = df[df['Date']>y2_ago]
df3 = df[df['Date']>y3_ago]
df4 = df[df['Date']>y4_ago]

df5 = df[df['Date']>y5_ago]
df6 = df[df['Date']>y6_ago]

df8 = df[df['Date']>y8_ago]
df10 = df[df['Date']>y10_ago]

df1_10 = df[df['Date']>y10_ago]
df1_10 = df1_10[df1_10['Date']<y1_ago]
df1_5 = df[df['Date']>y5_ago]
df1_5 = df1_5[df1_5['Date']<y1_ago]

In [7]:
dm6 = df[df['Date']>m6_ago]

In [8]:
d = df6

In [9]:
wuryang = d[d['Market'] == 'KOSPI']

In [10]:
codes = wuryang['Code'].unique()

In [11]:
len(codes)

1011

In [12]:
data = list()
import scipy.stats
# for code in codes:


for code in codes:
    c = d[d['Code'] == code]
    if c['Date'].iloc[-1] == pd.to_datetime(today):
        latest_stocks = c['Stocks'].iloc[-1]
        c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

        c_min = c['Adj Close'].min()
        c_max = c['Adj Close'].max()
        c_mean = c['Adj Close'].mean()
        c_std = c['Adj Close'].std()

        c_current = c['Adj Close'].iloc[-1]

        c_norm = scipy.stats.norm(c_mean, c_std)

        data.append([code, c['Name'].iloc[-1], c_min, c_max, c_mean, c_std, c_current, c_mean/c_current, c_norm.cdf(c_current)])

<ipython-input-12-3ff44c464998>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

In [13]:
columns = ['Code', 'Name', 'Min', 'Max', 'Mean', 'Std', 'Current', 'M/C' 'Cdf']
wdf = pd.DataFrame(data)
wdf['C/M'] = 1 / wdf[7]
wdf.sort_values([8], ascending=[True]).head(60)

,0,1,2,3,4,5,6,7,8,C/M
91,000210,DL,61000.00,273824.77,187022.48,27615.80,78300.00,2.39,0.00,0.42
894,326030,SK바이오팜,104000.00,217000.00,163921.51,21503.73,109000.00,1.50,0.01,0.66
521,000215,DL우,37000.00,127559.51,75406.30,14432.52,40300.00,1.87,0.01,0.53
601,096300,베트남개발1,227.00,642.54,403.99,78.94,228.00,1.77,0.01,0.56
549,019685,대교우B,2175.00,6000.00,4516.48,972.61,2580.00,1.75,0.02,0.57
36,021240,코웨이,48250.00,118091.42,88963.99,11627.03,66700.00,1.33,0.03,0.75
311,000155,두산우,25800.00,92604.19,69705.62,16538.81,38600.00,1.81,0.03,0.55
567,004450,삼화왕관,32100.00,55100.00,45319.31,4078.04,37650.00,1.20,0.03,0.83
350,168490,한국패러랠,1890.00,2820.00,2368.86,227.06,1955.00,1.21,0.03,0.83
222,003920,남양유업,255000.00,944000.00,610540.05,173772.14,295000.00,2.07,0.03,0.48
209,019680,대교,3075.00,11000.00,7136.98,1742.38,4065.00,1.76,0.04,0.57
20,033780,KT&G,63600.00,137000.00,101453.70,12275.45,80200.00,1.27,0.04,0.79
81,000150,두산,26050.00,177326.56,112159.25,37445.25,49300.00,2.28,0.05,0.44
237,017940,E1,22400.00,76100.00,57095.59,9972.59,40450.00,1.41,0.05,0.71
17,000810,삼성화재,126000.00,328000.00,258808.89,40666.20,193000.00,1.34,0.05,0.75
517,084670,동양고속,20856.51,40207.23,29757.00,3790.43,23650.00,1.26,0.05,0.79
320,007980,태평양물산,1129.89,5829.66,3106.84,746.80,1905.00,1.63,0.05,0.61
200,071320,지역난방공사,26000.00,87400.00,59931.30,13876.72,37650.00,1.59,0.05,0.63
74,012750,에스원,73200.00,115000.00,93294.64,7314.55,81600.00,1.14,0.05,0.87
358,015360,예스코홀딩스,26300.00,48800.00,38082.79,2693.40,33850.00,1.13,0.06,0.89
208,002960,한국쉘석유,206000.00,535000.00,371836.39,80595.17,247000.00,1.51,0.06,0.66
444,034590,인천도시가스,20950.00,40250.00,29723.22,2897.05,25250.00,1.18,0.06,0.85
323,007660,이수페타시스,1785.00,7290.00,4691.41,895.92,3355.00,1.40,0.07,0.72
441,035000,지투알,3400.00,11600.00,8046.61,1683.65,5540.00,1.45,0.07,0.69
554,025560,미래산업,2494.02,16645.85,7536.53,2875.61,3290.00,2.29,0.07,0.44
495,005800,신영와코루,64300.00,189000.00,134488.25,27523.38,93900.00,1.43,0.07,0.70
430,000850,화천기공,23950.00,79400.00,48355.74,11320.99,31850.00,1.52,0.07,0.66
252,078520,에이블씨엔씨,5790.00,21617.33,12486.55,3181.99,7850.00,1.59,0.07,0.63
235,005720,넥센,2985.00,8694.79,6632.02,1392.30,4610.00,1.44,0.07,0.70
698,008500,일정실업,8560.00,32350.00,22707.89,6157.55,13850.00,1.64,0.08,0.61
600,000157,두산2우B,25800.00,126378.65,74479.48,12019.05,57200.00,1.30,0.08,0.77
67,005830,DB손해보험,23800.00,83800.00,60474.75,11079.18,44550.00,1.36,0.08,0.74
297,001130,대한제분,91500.00,269000.00,177389.34,23368.92,144000.00,1.23,0.08,0.81
193,029530,신도리코,19500.00,75600.00,48153.80,13156.29,29900.00,1.61,0.08,0.62
174,037560,LG헬로비전,2420.00,14500.00,8312.78,2729.51,4535.00,1.83,0.08,0.55
265,004970,신라교역,6850.00,24000.00,14336.69,3099.65,10050.00,1.43,0.08,0.70
728,005725,넥센우,2025.00,6120.00,4113.08,815.89,2990.00,1.38,0.08,0.73
366,004150,한솔홀딩스,2414.86,9601.27,5694.93,1505.14,3645.00,1.56,0.09,0.64
229,000815,삼성화재우,86100.00,216000.00,171885.47,21353.42,143000.00,1.20,0.09,0.83
449,091090,세원셀론텍,1282.00,5816.32,2816.45,649.96,1940.00,1.45,0.09,0.69
782,014990,인디에프,926.00,4300.00,2180.68,640.05,1330.00,1.64,0.09,0.61
118,057050,현대홈쇼핑,45050.00,147500.00,105972.98,21660.41,77400.00,1.37,0.09,0.73
175,053210,스카이라이프,4760.00,23900.00,13477.61,3856.99,8420.00,1.60,0.09,0.62
44,002380,KCC,107000.00,674778.55,383521.89,134745.58,207000.00,1.85,0.10,0.54
457,078000,텔코웨어,10450.00,20300.00,13289.21,1484.22,11350.00,1.17,0.10,0.85
675,002355,넥센타이어1우B,1730.00,6500.00,4548.22,1264.30,2910.00,1.56,0.10,0.64
228,008060,대덕,4833.88,29117.26,14001.91,5643.51,6800.00,2.06,0.10,0.49
256,002795,아모레G우,16100.00,96500.00,49875.80,22279.64,21550.00,2.31,0.10,0.43
433,069640,한세엠케이,1925.00,19646.48,9690.75,4828.07,3575.00,2.71,0.10,0.37
298,003120,일성신약,76000.00,156500.00,106440.39,19087.42,82300.00,1.29,0.10,0.77
611,153360,하이골드3호,1170.00,3690.00,1841.03,452.26,1270.00,1.45,0.10,0.69
380,013520,화승코퍼레이션,1483.39,6462.41,3543.13,1087.00,2175.00,1.63,0.10,0.61
632,172580,하이골드12호,1920.00,3930.00,2549.29,398.43,2055.00,1.24,0.11,0.81
303,005810,풍산홀딩스,15543.09,45236.78,30726.61,6490.52,22750.00,1.35,0.11,0.74
163,093050,LF,8940.00,36900.00,23677.45,6309.02,15950.00,1.48,0.11,0.67
352,002360,SH에너지화학,507.00,2310.00,1322.75,325.36,926.00,1.43,0.11,0.70
92,001450,현대해상,17700.00,49200.00,32446.44,7183.68,23750.00,1.37,0.11,0.73
160,002270,롯데푸드,211500.00,1438556.90,704103.95,269438.18,378000.00,1.86,0.11,0.54
760,000325,노루홀딩스우,10000.00,29200.00,18235.33,2022.52,15800.00,1.15,0.11,0.87
396,152550,한국ANKOR유전,1560.00,2640.00,1895.91,196.87,1660.00,1.14,0.12,0.88

In [14]:
df[df['Code'] == '003380'].iloc[-1]['Close']

8910.0

In [15]:
df[df['Code'] == '054800'].iloc[-1]['Close']

12850.0

In [16]:
df[df['Code'] == '054950'].iloc[-1]

Date            2021-03-15 00:00:00
Code                         054950
Name                          제이브이엠
Market                       KOSDAQ
Dept                          우량기업부
Close                       36300.0
ChangeCode                        1
Changes                       150.0
ChagesRatio                     NaN
Open                        36500.0
High                        36550.0
Low                         36100.0
Volume                      48136.0
Amount                 1747864300.0
Marcap               229811960400.0
Stocks                    6330908.0
MarketId                        KSQ
Rank                            862
ChangesRatio                   0.41
Name: 11190491, dtype: object