In [1]:
from datetime import datetime
#target_code = '033340'
date_from  = '1995-5-2'
# date_from = '2015-1-1'
import datetime
# today=  datetime.datetime.now()
today = datetime.datetime.strptime('2021-11-11', '%Y-%m-%d')
m6_ago = today - datetime.timedelta(days=183)
today = today.strftime('%Y-%m-%d')
m6_ago = m6_ago.strftime('%Y-%m-%d')

MACD = 'MACD_12_26_9'
SIGNAL = 'MACDs_12_26_9'

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [3]:
# 그래프 설정
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
years_fmt = mdates.DateFormatter('%Y')

plt.rcParams["figure.figsize"] = (16,4)
plt.rcParams['lines.linewidth'] = 0.5
plt.rcParams["axes.grid"] = True
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["xtick.minor.visible"] = True 

pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = marcap_data(date_from, today)

c:\users\jae\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\jae\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [11]:
df.head()

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,ChangesRatio
Date,,,,,,,,,,,,,,,,,,
1995-05-02,15760,한국전력공사,KOSPI,NaN,27400.00,2,-400.00,-1.44,27600.00,27800.00,27400.00,118190.00,3255694000.00,16872679291000.00,615791215.00,STK,1,NaN
1995-05-02,5930,삼성전자,KOSPI,NaN,119500.00,2,-1000.00,-0.83,121000.00,121000.00,118500.00,139560.00,16676735000.00,6497053077500.00,54368645.00,STK,2,NaN
1995-05-02,5490,포항종합제철,KOSPI,NaN,65500.00,2,-300.00,-0.46,65800.00,66200.00,65400.00,65970.00,4334472000.00,6150568555000.00,93901810.00,STK,3,NaN
1995-05-02,200,대우중공업,KOSPI,NaN,9800.00,1,300.00,3.16,9500.00,9840.00,9500.00,288380.00,2805133500.00,3500638978200.00,357208059.00,STK,4,NaN
1995-05-02,2610,엘지전자,KOSPI,NaN,31700.00,2,-300.00,-0.94,32000.00,32000.00,31700.00,171460.00,5452050000.00,2521027012200.00,79527666.00,STK,5,NaN

In [15]:
print(type(df.iloc[-1]))

<class 'pandas.core.series.Series'>

In [16]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>