In [1]:
TARGET_DATE = "2021-11-5"

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [13]:
basic = pd.read_csv("marcap/financial_statement/basic.csv", dtype={"code": object})
profit = pd.read_csv("marcap/financial_statement/profit.csv", dtype={"Code": object})
profit

      Unnamed: 0    Code        Profit
0              0  095570  4.779675e+09
1              1  006840  4.895317e+10
2              2  054620  9.677218e+08
3              3  265520  1.399010e+10
4              4  027410  2.194788e+10
...          ...     ...           ...
1728        1728  010240  4.648164e+09
1729        1729  189980  1.512341e+09
1730        1730  003280  4.635678e+08
1731        1731  037440  5.747462e+08
1732        1732  238490  1.472019e+08

[1733 rows x 3 columns]

In [14]:
m = marcap_data(TARGET_DATE)
m

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChangesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2021-07-20,005930,삼성전자,KOSPI,NaN,79000.0,3,0.0,0.00,78500.0,79000.0,78400.0,12456646.0,9.797657e+11,4.716128e+14,5.969783e+09,STK,1
2021-07-20,000660,SK하이닉스,KOSPI,NaN,118500.0,2,-500.0,-0.42,117500.0,119500.0,117500.0,2070074.0,2.452089e+11,8.626828e+13,7.280024e+08,STK,2
2021-07-20,035420,NAVER,KOSPI,NaN,439000.0,2,-4000.0,-0.90,438500.0,441500.0,431000.0,789090.0,3.448192e+11,7.211163e+13,1.642634e+08,STK,3
2021-07-20,035720,카카오,KOSPI,NaN,152000.0,2,-2000.0,-1.30,151500.0,153000.0,149000.0,6652856.0,1.003229e+12,6.755795e+13,4.444602e+08,STK,4
2021-07-20,207940,삼성바이오로직스,KOSPI,NaN,913000.0,2,-3000.0,-0.33,914000.0,932000.0,900000.0,126069.0,1.152309e+11,6.040864e+13,6.616500e+07,STK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-20,179720,렌딩머신,KONEX,일반기업부,4000.0,2,-200.0,-4.76,4105.0,4105.0,4000.0,15.0,6.102500e+04,4.065452e+09,1.016363e+06,KNX,2562
2021-07-20,093510,엔지브이아이,KONEX,일반기업부,635.0,3,0.0,0.00,635.0,635.0,635.0,8.0,5.080000e+03,3.822700e+09,6.020000e+06,KNX,2564
2021-07-20,215050,비엔디생활건강,KONEX,일반기업부,1775.0,1,95.0,5.65,1775.0,1775.0,1775.0,1.0,1.775000e+03,3.765957e+09,2.121666e+06,KNX,2565
2021-07-20,242350,피엔아이컴퍼니,KONEX,일반기업부,755.0,1,77.0,11.36,678.0,758.0,670.0,6085.0,4.187790e+06,3.594948e+09,4.761520e+06,KNX,2566
2021-07-20,245450,씨앤에스링크,KONEX,일반기업부,2175.0,2,-35.0,-1.58,2290.0,2290.0,2175.0,2.0,4.465000e+03,3.436413e+09,1.579960e+06,KNX,2567

In [15]:
codes = basic['code'].unique()
len(codes)

1733

In [16]:
data = list()
for code in codes:
    mc = m[m['Code'] == code]
    bc = basic[basic['code'] == code]
    pc = profit[profit['Code'] == code]
    try:
        data.append([code, mc['Name'].iloc[0], mc['Marcap'].iloc[0], bc['assets'].iloc[0], bc['liabilities'].iloc[0], bc['equity'].iloc[0], pc['Profit'].iloc[0]])
    except:
        pass

In [17]:
df = pd.DataFrame(data, columns = ['Code', 'Name', 'Marcap', 'Assets', 'Liabilities', 'Equity', 'Profit'])
df

,Code,Name,Marcap,Assets,Liabilities,Equity,Profit
0,095570,AJ네트웍스,3.043449e+11,1574355448723,1286562699853,287792748870,4.779675e+09
1,006840,AK홀딩스,3.802050e+11,4197422025806,3015052766615,1182369259191,4.895317e+10
2,054620,APS홀딩스,3.711748e+11,274988067013,107452995977,167535071036,9.677218e+08
3,265520,AP시스템,4.329588e+11,394328577368,244163437621,150165139747,1.399010e+10
4,027410,BGF,5.944013e+11,1662679703034,127092776980,1535586926054,2.194788e+10
...,...,...,...,...,...,...,...
1652,069260,휴켐스,9.708665e+11,895450639000,221662293062,673788345938,2.299403e+10
1653,010240,흥국,1.330851e+11,118611338538,41323945028,77287393510,4.648164e+09
1654,189980,흥국에프엔비,1.564275e+11,96452991462,26238879519,70214111943,1.512341e+09
1655,037440,희림,9.773577e+10,166235344982,108805390993,57429953989,5.747462e+08
1656,238490,힘스,1.278283e+11,90702216384,16797964698,73904251686,1.472019e+08

In [18]:
df['P/E'] = df["Marcap"] / df["Equity"]
df

,Code,Name,Marcap,Assets,Liabilities,Equity,Profit,P/E
0,095570,AJ네트웍스,3.043449e+11,1574355448723,1286562699853,287792748870,4.779675e+09,1.057514
1,006840,AK홀딩스,3.802050e+11,4197422025806,3015052766615,1182369259191,4.895317e+10,0.321562
2,054620,APS홀딩스,3.711748e+11,274988067013,107452995977,167535071036,9.677218e+08,2.215505
3,265520,AP시스템,4.329588e+11,394328577368,244163437621,150165139747,1.399010e+10,2.883218
4,027410,BGF,5.944013e+11,1662679703034,127092776980,1535586926054,2.194788e+10,0.387084
...,...,...,...,...,...,...,...,...
1652,069260,휴켐스,9.708665e+11,895450639000,221662293062,673788345938,2.299403e+10,1.440907
1653,010240,흥국,1.330851e+11,118611338538,41323945028,77287393510,4.648164e+09,1.721951
1654,189980,흥국에프엔비,1.564275e+11,96452991462,26238879519,70214111943,1.512341e+09,2.227865
1655,037440,희림,9.773577e+10,166235344982,108805390993,57429953989,5.747462e+08,1.701826
1656,238490,힘스,1.278283e+11,90702216384,16797964698,73904251686,1.472019e+08,1.729647

In [19]:
df.sort_values(['P/E'], ascending=[True]).to_csv('PE.csv')

In [20]:
df.sort_values(['P/E'], ascending=[True])

,Code,Name,Marcap,Assets,Liabilities,Equity,Profit,P/E
1578,000880,한화,2.241266e+12,192837615000000,173845776000000,18991839000000,8.199350e+11,0.118012
246,005720,넥센,2.725388e+11,4171079851554,2103785863455,2067293988099,2.843944e+10,0.131834
687,058650,세아홀딩스,4.100000e+11,5101611887588,2351631897928,2749979989660,2.853687e+10,0.149092
282,032190,다우데이타,5.649250e+11,39655414460029,35942810391445,3712604068584,2.746530e+11,0.152164
37,012630,HDC,7.527457e+11,9969843732537,5576408276819,4393435455718,9.069356e+10,0.171334
...,...,...,...,...,...,...,...,...
83,037560,LG헬로비전,6.126047e+11,1453685409583,822077841313,0,6.286441e+09,inf
1541,020000,한섬,9.593385e+11,1442168073970,293606584320,0,3.252622e+10,inf
1232,082270,젬백스,8.536684e+11,159138395676,17612792258,0,6.821479e+08,inf
1601,069960,현대백화점,1.914320e+12,9062363387000,4018721012000,0,5.584842e+10,inf
745,011930,신성이엔지,5.608193e+11,460468146512,241110013295,0,2.393971e+09,inf

In [21]:
df['PER'] = df["Marcap"] / df["Profit"]

In [22]:
df

,Code,Name,Marcap,Assets,Liabilities,Equity,Profit,P/E,PER
0,095570,AJ네트웍스,3.043449e+11,1574355448723,1286562699853,287792748870,4.779675e+09,1.057514,63.674810
1,006840,AK홀딩스,3.802050e+11,4197422025806,3015052766615,1182369259191,4.895317e+10,0.321562,7.766708
2,054620,APS홀딩스,3.711748e+11,274988067013,107452995977,167535071036,9.677218e+08,2.215505,383.555282
3,265520,AP시스템,4.329588e+11,394328577368,244163437621,150165139747,1.399010e+10,2.883218,30.947505
4,027410,BGF,5.944013e+11,1662679703034,127092776980,1535586926054,2.194788e+10,0.387084,27.082403
...,...,...,...,...,...,...,...,...,...
1652,069260,휴켐스,9.708665e+11,895450639000,221662293062,673788345938,2.299403e+10,1.440907,42.222545
1653,010240,흥국,1.330851e+11,118611338538,41323945028,77287393510,4.648164e+09,1.721951,28.631761
1654,189980,흥국에프엔비,1.564275e+11,96452991462,26238879519,70214111943,1.512341e+09,2.227865,103.434070
1655,037440,희림,9.773577e+10,166235344982,108805390993,57429953989,5.747462e+08,1.701826,170.050325
1656,238490,힘스,1.278283e+11,90702216384,16797964698,73904251686,1.472019e+08,1.729647,868.387467

In [24]:
df.sort_values(['PER'], ascending=[True]).to_csv('PER.csv')

In [25]:
df.sort_values(['PER'], ascending=[True])

,Code,Name,Marcap,Assets,Liabilities,Equity,Profit,P/E,PER
1144,000760,이화산업,6.286000e+10,281305480526,43472301510,237833179016,6.333693e+10,0.264303,0.992470
978,036000,예림당,7.681931e+10,836683550967,656956969737,179726581230,4.923323e+10,0.427423,1.560314
282,032190,다우데이타,5.649250e+11,39655414460029,35942810391445,3712604068584,2.746530e+11,0.152164,2.056868
1417,004870,티웨이홀딩스,1.041798e+11,742561366469,653494501524,89066864945,5.024774e+10,1.169680,2.073323
159,000860,강남제비스코,2.054000e+11,909675321322,209987468409,699687852913,9.014424e+10,0.293559,2.278570
...,...,...,...,...,...,...,...,...,...
1620,008770,호텔신라,3.642226e+12,2779102202955,2230670628979,548431573976,0.000000e+00,6.641167,inf
723,253840,수젠텍,3.701034e+11,77012123641,8206624480,68805499161,0.000000e+00,5.378980,inf
553,337930,브랜드엑스코퍼레이션,2.575395e+11,100183550229,37065767574,63117782655,0.000000e+00,4.080301,inf
1518,009540,한국조선해양,8.669707e+12,24738988008000,12172939549000,12566048459000,0.000000e+00,0.689931,inf
722,084180,수성이노베이션,1.214788e+11,57860444213,32316618553,25543825660,0.000000e+00,4.755702,inf