In [1]:
# 우량주 분석
today='2021-02-23'

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [3]:
# 그래프 설정
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
years_fmt = mdates.DateFormatter('%Y')

plt.rcParams["figure.figsize"] = (16,4)
plt.rcParams['lines.linewidth'] = 0.5
plt.rcParams["axes.grid"] = True
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["xtick.minor.visible"] = True 

pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = marcap_data('2015-01-01', today)

In [5]:
df['Dept'].unique()

array([nan, '우량기업부', '벤처기업부', '중견기업부', '기술성장기업부', '투자주의환기종목(소속부없음)',
       '외국기업(소속부없음)', '일반기업부', '관리종목(소속부없음)', 'SPAC(소속부없음)', '스타트업기업부',
       '크라우드펀딩기업부'], dtype=object)

In [6]:
wuryang = df[df['Dept'] == '우량기업부']
wuryang.reset_index(inplace=True)
wuryang.tail()

,Date,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,ChangesRatio
495734,2021-02-23,038010,제일테크노스,KOSDAQ,우량기업부,5890.00,2,-190.00,NaN,6000.00,6010.00,5840.00,66023.00,388341400.00,53010000000.00,9000000.00,KSQ,2076,-3.13
495735,2021-02-23,008470,부스타,KOSDAQ,우량기업부,5860.00,1,10.00,NaN,5840.00,5860.00,5780.00,37687.00,219393580.00,49252128000.00,8404800.00,KSQ,2116,0.17
495736,2021-02-23,081580,성우전자,KOSDAQ,우량기업부,3145.00,2,-45.00,NaN,3190.00,3240.00,3070.00,142422.00,446312075.00,48773109735.00,15508143.00,KSQ,2120,-1.41
495737,2021-02-23,012620,원일특강,KOSDAQ,우량기업부,9530.00,3,0.00,NaN,9520.00,9550.00,9450.00,14497.00,137885080.00,41932000000.00,4400000.00,KSQ,2196,0.00
495738,2021-02-23,212560,네오오토,KOSDAQ,우량기업부,5190.00,2,-210.00,NaN,5330.00,5350.00,5190.00,50783.00,266438380.00,40871057970.00,7874963.00,KSQ,2209,-3.89

In [7]:
codes = wuryang['Code'].unique()

In [8]:
len(codes)

588

In [9]:
35000000/50/2

350000.0

In [10]:
df.reset_index(inplace=True)
df.head()

,Date,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,ChangesRatio
0,2015-01-02,005930,삼성전자,KOSPI,NaN,1330000.00,1,3000.00,0.23,1340000.00,1340000.00,1327000.00,175499.00,230643147000.00,195908118210000.00,147299337.00,STK,1,NaN
1,2015-01-02,005380,현대차,KOSPI,NaN,169000.00,3,0.00,0.00,169000.00,170500.00,167000.00,458014.00,77441258500.00,37226724951000.00,220276479.00,STK,2,NaN
2,2015-01-02,000660,SK하이닉스,KOSPI,NaN,47750.00,3,0.00,0.00,47950.00,48400.00,47650.00,1155944.00,55452973972.00,34762112928750.00,728002365.00,STK,3,NaN
3,2015-01-02,015760,한국전력,KOSPI,NaN,42700.00,3,0.00,0.00,42350.00,42950.00,42200.00,637596.00,27145417350.00,27411866087900.00,641964077.00,STK,4,NaN
4,2015-01-02,005490,POSCO,KOSPI,NaN,283500.00,1,8000.00,2.90,278000.00,285000.00,277500.00,156209.00,43938855500.00,24717467722500.00,87186835.00,STK,5,NaN

In [11]:
data = list()
import scipy.stats
# for code in codes:


for code in codes:
    c = df[df['Code'] == code]
    if c['Date'].iloc[-1] == pd.to_datetime(today):
        latest_stocks = c['Stocks'].iloc[-1]
        c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

        c_min = c['Adj Close'].min()
        c_max = c['Adj Close'].max()
        c_mean = c['Adj Close'].mean()
        c_std = c['Adj Close'].std()

        c_current = c['Adj Close'].iloc[-1]

        c_norm = scipy.stats.norm(c_mean, c_std)

        data.append([code, c['Name'].iloc[-1], c_min, c_max, c_mean, c_std, c_current, c_mean/c_current, c_norm.cdf(c_current)])

<ipython-input-11-1fa5a81c9b90>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

In [12]:
columns = ['Code', 'Name', 'Min', 'Max', 'Mean', 'Std', 'Current', 'M/C' 'Cdf']

In [13]:
wdf = pd.DataFrame(data)
wdf

          0       1        2         3         4        5         6    7    8
0    035720     카카오 54297.49 514000.00 129997.64 94435.12 487000.00 0.27 1.00
1    068270    셀트리온 29070.28 403410.57 161672.50 87166.09 296000.00 0.55 0.94
2    026960      동서 14550.00  47000.00  26325.96  6642.20  41950.00 0.63 0.99
3    034230   파라다이스  9790.00  32300.00  17880.06  3866.18  17300.00 1.03 0.44
4    035760  CJ ENM 43422.44 266466.34 104433.88 63184.63 139000.00 0.75 0.71
..      ...     ...      ...       ...       ...      ...       ...  ...  ...
555  005670     푸드웰  2124.00  12960.00   5173.22  1342.39   7290.00 0.71 0.94
556  090410   덕신하우징   679.95   2121.04   1340.31   241.29   1735.00 0.77 0.95
557  032750      삼진  4930.00  15500.00   8680.54  1928.90  12400.00 0.70 0.97
558  086670     비엠티  3545.00  15550.00   6959.04  1951.40  15550.00 0.45 1.00
559  053270    구영테크   900.00   5190.00   1578.02   309.54   3480.00 0.45 1.00

[560 rows x 9 columns]

In [14]:
wdf['C/M'] = 1 / wdf[7]

In [15]:
wdf

,0,1,2,3,4,5,6,7,8,C/M
0,035720,카카오,54297.49,514000.00,129997.64,94435.12,487000.00,0.27,1.00,3.75
1,068270,셀트리온,29070.28,403410.57,161672.50,87166.09,296000.00,0.55,0.94,1.83
2,026960,동서,14550.00,47000.00,26325.96,6642.20,41950.00,0.63,0.99,1.59
3,034230,파라다이스,9790.00,32300.00,17880.06,3866.18,17300.00,1.03,0.44,0.97
4,035760,CJ ENM,43422.44,266466.34,104433.88,63184.63,139000.00,0.75,0.71,1.33
...,...,...,...,...,...,...,...,...,...,...
555,005670,푸드웰,2124.00,12960.00,5173.22,1342.39,7290.00,0.71,0.94,1.41
556,090410,덕신하우징,679.95,2121.04,1340.31,241.29,1735.00,0.77,0.95,1.29
557,032750,삼진,4930.00,15500.00,8680.54,1928.90,12400.00,0.70,0.97,1.43
558,086670,비엠티,3545.00,15550.00,6959.04,1951.40,15550.00,0.45,1.00,2.23
559,053270,구영테크,900.00,5190.00,1578.02,309.54,3480.00,0.45,1.00,2.21

In [18]:
wdf.sort_values([8], ascending=[True]).head(60)

,0,1,2,3,4,5,6,7,8,C/M
65,016250,SGC이테크건설,50000.00,422996.83,203977.77,68172.08,51800.00,3.94,0.01,0.25
387,043200,파루,1403.49,4759.95,2449.00,496.90,1475.00,1.66,0.02,0.60
290,046070,코다코,974.00,3840.00,2504.06,744.22,1160.00,2.16,0.04,0.46
156,099440,스맥,1082.51,4082.84,2788.50,560.17,1860.00,1.50,0.05,0.67
299,086900,메디톡스,104900.00,807677.76,415603.76,141771.63,187700.00,2.21,0.05,0.45
124,049520,유아이엘,3485.00,9360.84,5611.55,1185.69,3820.00,1.47,0.07,0.68
425,225190,삼양옵틱스,7497.99,19717.22,13602.30,3075.92,9140.00,1.49,0.07,0.67
281,040420,정상제이엘에스,5440.00,8450.00,7046.09,599.12,6190.00,1.14,0.08,0.88
57,102940,코오롱생명과학,11200.00,163983.84,68225.28,34750.30,19550.00,3.49,0.08,0.29
77,026040,제이에스티나,1390.00,21550.00,8065.19,4381.51,2035.00,3.96,0.08,0.25
323,076610,해성옵틱스,792.15,3877.94,2286.26,660.19,1380.00,1.66,0.08,0.60
320,039980,리노스,731.20,4696.59,2282.13,824.71,1195.00,1.91,0.09,0.52
347,228850,레이언스,7210.00,23850.00,16098.81,3452.21,11550.00,1.39,0.09,0.72
69,023160,태광,5670.00,15200.00,9960.59,1892.31,7520.00,1.32,0.10,0.75
373,234920,자이글,1650.00,13050.00,6908.12,2362.09,3900.00,1.77,0.10,0.56
163,093190,빅솔론,3504.46,8694.88,6242.11,1048.19,4990.00,1.25,0.12,0.80
6,028150,GS홈쇼핑,88600.00,254900.00,178740.26,33281.32,139000.00,1.29,0.12,0.78
131,052330,코텍,6900.00,18300.00,12740.77,2341.72,9970.00,1.28,0.12,0.78
342,119610,인터로조,16710.35,45173.25,29533.46,7096.41,21200.00,1.39,0.12,0.72
479,227610,아우딘퓨쳐스,1165.00,13850.00,5506.16,2913.80,2110.00,2.61,0.12,0.38
43,014620,성광벤드,4095.00,15800.00,10126.05,2005.26,7790.00,1.30,0.12,0.77
405,049960,쎌바이오텍,10050.00,72000.00,38415.07,17133.49,18600.00,2.07,0.12,0.48
10,034830,한국토지신탁,1460.00,4370.00,2821.25,639.90,2090.00,1.35,0.13,0.74
106,065510,휴비츠,5400.00,23368.10,12183.21,3616.31,8080.00,1.51,0.13,0.66
352,064240,홈캐스트,1985.00,28623.70,7912.47,4847.48,2500.00,3.16,0.13,0.32
341,222040,코스맥스엔비티,2860.00,40650.00,18344.67,9589.25,7660.00,2.39,0.13,0.42
413,067390,아스트,2740.00,19423.36,9252.73,3082.25,5820.00,1.59,0.13,0.63
403,041830,인바디,13500.00,58400.00,30679.01,10854.85,18800.00,1.63,0.14,0.61
357,069110,코스온,2369.99,28596.95,9872.22,5347.97,4085.00,2.42,0.14,0.41
142,041440,에버다임,2190.00,13750.00,7828.39,2759.07,4895.00,1.60,0.14,0.63
80,035810,이지홀딩스,2321.65,9869.61,5996.81,1118.54,4830.00,1.24,0.15,0.81
35,013030,하이록코리아,6800.00,38900.00,21985.60,6330.05,15400.00,1.43,0.15,0.70
411,255440,야스,7510.00,31141.71,19596.33,4995.29,14400.00,1.36,0.15,0.73
314,053350,이니텍,2770.00,12250.00,6495.52,1488.66,4960.00,1.31,0.15,0.76
404,067080,대화제약,5815.03,50220.70,22558.04,9659.74,12600.00,1.79,0.15,0.56
41,052790,액토즈소프트,3930.00,64370.44,18396.54,9306.63,8820.00,2.09,0.15,0.48
91,018120,진로발효,21100.00,57613.64,35545.21,4675.01,30750.00,1.16,0.15,0.87
140,123330,제닉,2010.00,41490.00,13934.57,8978.17,4775.00,2.92,0.15,0.34
250,053980,오상자이엘,5350.00,23734.17,10109.57,3174.73,6940.00,1.46,0.16,0.69
406,217480,에스디생명공학,2360.00,22098.79,9228.05,4240.50,5040.00,1.83,0.16,0.55
30,051500,CJ프레시웨이,11700.00,89702.35,37843.16,16342.55,21750.00,1.74,0.16,0.57
90,019210,와이지-원,3190.00,20276.25,9130.52,3155.53,6040.00,1.51,0.16,0.66
426,022220,정산애강,1100.00,3480.00,2311.33,357.04,1965.00,1.18,0.17,0.85
419,241710,코스메카코리아,5990.00,41400.00,23356.87,9246.04,14400.00,1.62,0.17,0.62
32,005990,매일홀딩스,6210.00,53684.46,22557.30,14117.16,8890.00,2.54,0.17,0.39
183,088910,동우팜투테이블,2010.00,5221.25,3779.10,407.65,3385.00,1.12,0.17,0.90
435,225330,씨엠에스에듀,1939.18,10493.32,6541.66,1440.44,5160.00,1.27,0.17,0.79
191,049830,승일,5300.00,20900.00,11494.16,2683.94,8930.00,1.29,0.17,0.78
66,060590,씨티씨바이오,3376.55,22686.04,9876.63,3696.13,6390.00,1.55,0.17,0.65
212,039310,세중,1100.00,5250.00,3522.80,674.07,2890.00,1.22,0.17,0.82
63,067280,멀티캠퍼스,22100.00,68400.00,41238.71,9494.91,32400.00,1.27,0.18,0.79
157,101330,모베이스,1995.00,10332.00,4936.98,1186.35,3845.00,1.28,0.18,0.78
89,013990,아가방컴퍼니,1720.00,15141.06,6187.78,2837.75,3600.00,1.72,0.18,0.58
256,004650,창해에탄올,8880.00,36070.36,17223.43,4696.63,12950.00,1.33,0.18,0.75
53,115160,휴맥스,1853.92,16190.87,8142.62,3771.33,4715.00,1.73,0.18,0.58
72,036190,금화피에스시,19800.00,54100.00,35453.71,6826.68,29250.00,1.21,0.18,0.83
365,060560,홈센타홀딩스,664.91,3085.35,1374.71,450.05,971.00,1.42,0.18,0.71
360,037950,엘컴텍,1212.46,3866.74,1997.05,407.35,1640.00,1.22,0.19,0.82
255,171120,라이온켐텍,5956.41,19259.40,10894.83,3167.61,8140.00,1.34,0.19,0.75
392,08537M,루트로닉3우C,7321.09,101522.07,39613.14,29509.94,14400.00,2.75,0.20,0.36

In [17]:
wdf.head(20)

,0,1,2,3,4,5,6,7,8,C/M
0,035720,카카오,54297.49,514000.00,129997.64,94435.12,487000.00,0.27,1.00,3.75
1,068270,셀트리온,29070.28,403410.57,161672.50,87166.09,296000.00,0.55,0.94,1.83
2,026960,동서,14550.00,47000.00,26325.96,6642.20,41950.00,0.63,0.99,1.59
3,034230,파라다이스,9790.00,32300.00,17880.06,3866.18,17300.00,1.03,0.44,0.97
4,035760,CJ ENM,43422.44,266466.34,104433.88,63184.63,139000.00,0.75,0.71,1.33
5,039030,이오테크닉스,38029.46,150400.34,89202.83,22284.94,103200.00,0.86,0.74,1.16
6,028150,GS홈쇼핑,88600.00,254900.00,178740.26,33281.32,139000.00,1.29,0.12,0.78
7,046890,서울반도체,10000.00,33150.00,18037.72,3776.50,20000.00,0.90,0.70,1.11
8,030530,원익홀딩스,2735.00,16832.20,6919.29,3153.63,6330.00,1.09,0.43,0.91
9,121440,골프존뉴딘홀딩스,1725.00,25720.57,6314.67,3244.11,5810.00,1.09,0.44,0.92
10,034830,한국토지신탁,1460.00,4370.00,2821.25,639.90,2090.00,1.35,0.13,0.74
11,056190,에스에프에이,19425.00,47750.00,34027.90,6889.48,44400.00,0.77,0.93,1.30
12,003670,포스코케미칼,7335.78,173500.00,31126.80,24254.39,170000.00,0.18,1.00,5.46
13,022100,포스코 ICT,2950.00,9300.00,5975.99,1138.08,7920.00,0.75,0.96,1.33
14,041510,에스엠,16696.15,55050.24,33550.36,7189.02,30300.00,1.11,0.33,0.90
15,015750,성우하이텍,2000.00,9900.00,5142.03,1593.93,7170.00,0.72,0.90,1.39
16,122870,와이지엔터테인먼트,19220.84,58428.06,34041.12,7513.87,46150.00,0.74,0.95,1.36
17,091700,파트론,6250.00,18250.00,10404.08,2068.70,11900.00,0.87,0.77,1.14
18,060720,KH바텍,5460.35,31021.50,13605.74,5443.83,19900.00,0.68,0.88,1.46
19,112040,위메이드,14050.00,67000.00,35280.27,9602.20,40150.00,0.88,0.69,1.14