In [1]:
# 우량주 분석

In [2]:
# 기본 모듈 로드
import pandas as pd
from marcap import marcap_data
import matplotlib.pyplot as plt

In [3]:
# 그래프 설정
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
years_fmt = mdates.DateFormatter('%Y')

plt.rcParams["figure.figsize"] = (16,4)
plt.rcParams['lines.linewidth'] = 0.5
plt.rcParams["axes.grid"] = True
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["xtick.minor.visible"] = True 

pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = marcap_data('2015-01-01', '2021-02-18')

In [5]:
df['Dept'].unique()

array([nan, '우량기업부', '벤처기업부', '중견기업부', '기술성장기업부', '투자주의환기종목(소속부없음)',
       '외국기업(소속부없음)', '일반기업부', '관리종목(소속부없음)', 'SPAC(소속부없음)', '스타트업기업부',
       '크라우드펀딩기업부'], dtype=object)

In [6]:
wuryang = df[df['Dept'] == '우량기업부']
wuryang.reset_index(inplace=True)
wuryang.tail()

,Date,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,ChangesRatio
494606,2021-02-18,039240,경남스틸,KOSDAQ,우량기업부,2095.00,2,-35.00,NaN,2115.00,2130.00,2075.00,312580.00,655854110.00,52375000000.00,25000000.00,KSQ,2089,-1.64
494607,2021-02-18,081580,성우전자,KOSDAQ,우량기업부,3345.00,2,-25.00,NaN,3400.00,3420.00,3270.00,280271.00,933652560.00,51874738335.00,15508143.00,KSQ,2093,-0.74
494608,2021-02-18,008470,부스타,KOSDAQ,우량기업부,5860.00,1,60.00,NaN,5810.00,5940.00,5800.00,96142.00,563995590.00,49252128000.00,8404800.00,KSQ,2121,1.03
494609,2021-02-18,212560,네오오토,KOSDAQ,우량기업부,5510.00,3,0.00,NaN,5520.00,5590.00,5470.00,83184.00,459513040.00,43391046130.00,7874963.00,KSQ,2190,0.00
494610,2021-02-18,012620,원일특강,KOSDAQ,우량기업부,9570.00,1,140.00,NaN,9480.00,9680.00,9370.00,19564.00,185616800.00,42108000000.00,4400000.00,KSQ,2208,1.48

In [7]:
codes = wuryang['Code'].unique()

In [8]:
len(codes)

588

In [9]:
35000000/60

583333.3333333334

In [10]:
df.reset_index(inplace=True)
df.head()

,Date,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,ChangesRatio
0,2015-01-02,005930,삼성전자,KOSPI,NaN,1330000.00,1,3000.00,0.23,1340000.00,1340000.00,1327000.00,175499.00,230643147000.00,195908118210000.00,147299337.00,STK,1,NaN
1,2015-01-02,005380,현대차,KOSPI,NaN,169000.00,3,0.00,0.00,169000.00,170500.00,167000.00,458014.00,77441258500.00,37226724951000.00,220276479.00,STK,2,NaN
2,2015-01-02,000660,SK하이닉스,KOSPI,NaN,47750.00,3,0.00,0.00,47950.00,48400.00,47650.00,1155944.00,55452973972.00,34762112928750.00,728002365.00,STK,3,NaN
3,2015-01-02,015760,한국전력,KOSPI,NaN,42700.00,3,0.00,0.00,42350.00,42950.00,42200.00,637596.00,27145417350.00,27411866087900.00,641964077.00,STK,4,NaN
4,2015-01-02,005490,POSCO,KOSPI,NaN,283500.00,1,8000.00,2.90,278000.00,285000.00,277500.00,156209.00,43938855500.00,24717467722500.00,87186835.00,STK,5,NaN

In [11]:
data = list()
import scipy.stats
# for code in codes:


for code in codes:
    c = df[df['Code'] == code]
    if c['Date'].iloc[-1] == pd.to_datetime('2021-02-18'):
        latest_stocks = c['Stocks'].iloc[-1]
        c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

        c_min = c['Adj Close'].min()
        c_max = c['Adj Close'].max()
        c_mean = c['Adj Close'].mean()
        c_std = c['Adj Close'].std()

        c_current = c['Adj Close'].iloc[-1]

        c_norm = scipy.stats.norm(c_mean, c_std)

        data.append([code, c['Name'].iloc[-1], c_min, c_max, c_mean, c_std, c_current, c_mean/c_current, c_norm.cdf(c_current)])

<ipython-input-11-5f4dda0650a8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['Adj Close'] = c['Stocks'] * c['Close'] / latest_stocks

In [12]:
columns = ['Code', 'Name', 'Min', 'Max', 'Mean', 'Std', 'Current', 'M/C' 'Cdf']

In [13]:
wdf = pd.DataFrame(data)
wdf

          0       1        2         3         4        5         6    7    8
0    035720     카카오 54297.49 514000.00 129273.35 93120.49 501000.00 0.26 1.00
1    068270    셀트리온 29076.73 403500.00 161416.98 87025.92 314500.00 0.51 0.96
2    026960      동서 14550.00  47000.00  26294.49  6611.19  39750.00 0.66 0.98
3    034230   파라다이스  9790.00  32300.00  17883.17  3869.27  16200.00 1.10 0.33
4    035760  CJ ENM 43422.44 266466.34 104361.15 63226.44 145000.00 0.72 0.74
..      ...     ...      ...       ...       ...      ...       ...  ...  ...
554  005670     푸드웰  2124.00  12960.00   5168.93  1340.27   7240.00 0.71 0.94
555  090410   덕신하우징   679.95   2121.04   1339.60   241.01   1630.00 0.82 0.89
556  032750      삼진  4930.00  15500.00   8672.80  1922.99  12700.00 0.68 0.98
557  086670     비엠티  3545.00  14350.00   6943.20  1920.59  14350.00 0.48 1.00
558  053270    구영테크   900.00   5190.00   1574.12   297.13   4010.00 0.39 1.00

[559 rows x 9 columns]

In [14]:
wdf['C/M'] = 1 / wdf[7]

In [15]:
wdf

,0,1,2,3,4,5,6,7,8,C/M
0,035720,카카오,54297.49,514000.00,129273.35,93120.49,501000.00,0.26,1.00,3.88
1,068270,셀트리온,29076.73,403500.00,161416.98,87025.92,314500.00,0.51,0.96,1.95
2,026960,동서,14550.00,47000.00,26294.49,6611.19,39750.00,0.66,0.98,1.51
3,034230,파라다이스,9790.00,32300.00,17883.17,3869.27,16200.00,1.10,0.33,0.91
4,035760,CJ ENM,43422.44,266466.34,104361.15,63226.44,145000.00,0.72,0.74,1.39
...,...,...,...,...,...,...,...,...,...,...
554,005670,푸드웰,2124.00,12960.00,5168.93,1340.27,7240.00,0.71,0.94,1.40
555,090410,덕신하우징,679.95,2121.04,1339.60,241.01,1630.00,0.82,0.89,1.22
556,032750,삼진,4930.00,15500.00,8672.80,1922.99,12700.00,0.68,0.98,1.46
557,086670,비엠티,3545.00,14350.00,6943.20,1920.59,14350.00,0.48,1.00,2.07
558,053270,구영테크,900.00,5190.00,1574.12,297.13,4010.00,0.39,1.00,2.55

In [16]:
wdf.sort_values([8, 3], ascending=[True, False]).head(50)

,0,1,2,3,4,5,6,7,8,C/M
65,016250,SGC이테크건설,50000.00,422996.83,204285.90,67896.46,53500.00,3.82,0.01,0.26
299,086900,메디톡스,104900.00,807677.76,416074.57,141516.16,145000.00,2.87,0.03,0.35
387,043200,파루,1403.49,4759.95,2450.96,495.45,1550.00,1.58,0.03,0.63
290,046070,코다코,974.00,3840.00,2507.37,742.19,1195.00,2.10,0.04,0.48
156,099440,스맥,1082.51,4082.84,2790.35,559.19,1890.00,1.48,0.05,0.68
281,040420,정상제이엘에스,5440.00,8450.00,7047.87,598.39,6100.00,1.16,0.06,0.87
124,049520,유아이엘,3485.00,9360.84,5615.14,1184.13,3805.00,1.48,0.06,0.68
478,227610,아우딘퓨쳐스,2330.00,27700.00,11034.90,5824.53,2385.00,4.63,0.07,0.22
425,225190,삼양옵틱스,7497.99,19717.22,13616.93,3070.38,9180.00,1.48,0.07,0.67
77,026040,제이에스티나,1390.00,21550.00,8077.20,4377.59,2020.00,4.00,0.08,0.25
69,023160,태광,5670.00,15200.00,9965.55,1890.91,7350.00,1.36,0.08,0.74
347,228850,레이언스,7210.00,23850.00,16110.63,3448.48,11400.00,1.41,0.09,0.71
57,102940,코오롱생명과학,11200.00,163983.84,68320.22,34719.62,21450.00,3.19,0.09,0.31
320,039980,리노스,731.20,4696.59,2284.28,824.12,1210.00,1.89,0.10,0.53
323,076610,해성옵틱스,792.18,3878.07,2288.10,659.68,1445.00,1.58,0.10,0.63
342,119610,인터로조,16710.35,45173.25,29550.31,7093.39,20800.00,1.42,0.11,0.70
373,234920,자이글,1650.00,13050.00,6916.25,2360.23,4010.00,1.72,0.11,0.58
43,014620,성광벤드,4095.00,15800.00,10130.66,2004.58,7700.00,1.32,0.11,0.76
6,028150,GS홈쇼핑,88600.00,254900.00,178820.37,33265.90,138900.00,1.29,0.12,0.78
10,034830,한국토지신탁,1460.00,4370.00,2822.74,639.66,2075.00,1.36,0.12,0.74
131,052330,코텍,6900.00,18300.00,12746.22,2340.86,10050.00,1.27,0.12,0.79
106,065510,휴비츠,5400.00,23368.10,12191.40,3615.25,8080.00,1.51,0.13,0.66
163,093190,빅솔론,3504.46,8694.88,6244.59,1047.76,5080.00,1.23,0.13,0.81
183,088910,동우팜투테이블,2010.00,5221.25,3779.93,407.63,3335.00,1.13,0.14,0.88
80,035810,이지홀딩스,2321.65,9869.61,5999.33,1118.25,4780.00,1.26,0.14,0.80
405,049960,쎌바이오텍,10050.00,72000.00,38453.98,17128.30,19800.00,1.94,0.14,0.51
142,041440,에버다임,2190.00,13750.00,7834.14,2758.80,4870.00,1.61,0.14,0.62
352,064240,홈캐스트,1985.00,28623.70,7923.06,4846.47,2725.00,2.91,0.14,0.34
341,222040,코스맥스엔비티,2860.00,40650.00,18369.69,9586.74,8110.00,2.27,0.14,0.44
413,067390,아스트,2740.00,19423.36,9259.43,3081.64,5990.00,1.55,0.14,0.65
403,041830,인바디,13500.00,58400.00,30702.06,10853.33,19600.00,1.57,0.15,0.64
90,019210,와이지-원,3190.00,20276.25,9136.79,3155.53,5930.00,1.54,0.15,0.65
212,039310,세중,1100.00,5250.00,3524.16,674.07,2850.00,1.24,0.16,0.81
140,123330,제닉,2010.00,41490.00,13952.62,8977.98,5010.00,2.78,0.16,0.36
35,013030,하이록코리아,6800.00,38900.00,21998.54,6329.69,15700.00,1.40,0.16,0.71
411,255440,야스,7510.00,31141.71,19614.37,4995.31,14650.00,1.34,0.16,0.75
41,052790,액토즈소프트,3930.00,64370.44,18415.28,9306.40,9210.00,2.00,0.16,0.50
91,018120,진로발효,21100.00,57613.64,35554.57,4675.03,30950.00,1.15,0.16,0.87
30,051500,CJ프레시웨이,11700.00,89702.35,37875.03,16343.18,21900.00,1.73,0.16,0.58
32,005990,매일홀딩스,6210.00,53684.46,22584.95,14118.00,8790.00,2.57,0.16,0.39
404,067080,대화제약,5815.03,50220.70,22577.30,9659.68,13250.00,1.70,0.17,0.59
72,036190,금화피에스시,19800.00,54100.00,35466.39,6827.55,28950.00,1.23,0.17,0.82
250,053980,오상자이엘,5350.00,23734.17,10115.68,3174.93,7100.00,1.42,0.17,0.70
191,049830,승일,5300.00,20900.00,11499.28,2684.15,8960.00,1.28,0.17,0.78
357,069110,코스온,2383.97,28765.70,9941.62,5379.06,4920.00,2.02,0.18,0.49
419,241710,코스메카코리아,5990.00,41400.00,23382.26,9246.80,14950.00,1.56,0.18,0.64
129,104200,NHN벅스,2815.00,15783.23,8853.88,2795.58,6330.00,1.40,0.18,0.71
89,013990,아가방컴퍼니,1720.00,15141.06,6192.82,2838.32,3650.00,1.70,0.19,0.59
435,225330,씨엠에스에듀,1939.18,10493.32,6545.02,1440.68,5260.00,1.24,0.19,0.80
406,217480,에스디생명공학,2360.00,22098.79,9240.77,4240.83,5460.00,1.69,0.19,0.59

In [17]:
wdf.head(20)

,0,1,2,3,4,5,6,7,8,C/M
0,035720,카카오,54297.49,514000.00,129273.35,93120.49,501000.00,0.26,1.00,3.88
1,068270,셀트리온,29076.73,403500.00,161416.98,87025.92,314500.00,0.51,0.96,1.95
2,026960,동서,14550.00,47000.00,26294.49,6611.19,39750.00,0.66,0.98,1.51
3,034230,파라다이스,9790.00,32300.00,17883.17,3869.27,16200.00,1.10,0.33,0.91
4,035760,CJ ENM,43422.44,266466.34,104361.15,63226.44,145000.00,0.72,0.74,1.39
5,039030,이오테크닉스,38029.46,150400.34,89172.52,22296.70,105200.00,0.85,0.76,1.18
6,028150,GS홈쇼핑,88600.00,254900.00,178820.37,33265.90,138900.00,1.29,0.12,0.78
7,046890,서울반도체,10000.00,33150.00,18033.21,3778.89,20700.00,0.87,0.76,1.15
8,030530,원익홀딩스,2735.00,16832.20,6920.20,3156.75,6640.00,1.04,0.46,0.96
9,121440,골프존뉴딘홀딩스,1725.00,25720.57,6315.77,3247.31,5740.00,1.10,0.43,0.91
10,034830,한국토지신탁,1460.00,4370.00,2822.74,639.66,2075.00,1.36,0.12,0.74
11,056190,에스에프에이,19425.00,47750.00,34006.22,6879.11,44700.00,0.76,0.94,1.31
12,003670,포스코케미칼,7335.78,162500.00,30847.65,23462.30,162500.00,0.19,1.00,5.27
13,022100,포스코 ICT,2950.00,9300.00,5972.10,1135.86,7910.00,0.76,0.96,1.32
14,041510,에스엠,16696.15,55050.24,33556.96,7194.64,30600.00,1.10,0.34,0.91
15,015750,성우하이텍,2000.00,9900.00,5137.64,1592.45,7520.00,0.68,0.93,1.46
16,122870,와이지엔터테인먼트,19220.84,58428.06,34018.01,7503.40,46900.00,0.73,0.96,1.38
17,091700,파트론,6250.00,18250.00,10400.94,2069.56,12200.00,0.85,0.81,1.17
18,060720,KH바텍,5460.35,31021.50,13593.44,5442.25,18800.00,0.72,0.83,1.38
19,112040,위메이드,14050.00,67000.00,35269.24,9608.66,41000.00,0.86,0.72,1.16